# Configurações da API
JWT_KEY=your-super-secret-jwt-key-here-make-it-at-least-32-characters-long
JWT_ISSUER=InvestSync

# Configurações do Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Configurações do ambiente
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000
